#pedro_axelrud
  .image #{gravatar 'pedro'}
  .info
    %h4 Pedro Axelrud
    %p= t 'staff.pa'
    %p.links #{ twitter 'pedroaxl' } · #{link_to 'Flickr', 'http://flickr.com/photos/pedroaxl/'} · #{link_to 'Flavors', 'http://flavors.me/pedroaxl/'}
