#pedro_axelrud
  .image #{gravatar 'pedro'}
  .info
    %h4 Pedro Axelrud
    %p Malabarista de infraestrutura, desenvolvedor Rails e o que mais precisar. Ele mora na internet e gosta de todas as novas buzz words.
    %p.links #{ twitter 'pedroaxl' } · #{link_to 'Flickr', '#'} · #{link_to 'Blog', '#'} · #{link_to 'Flavours', '#'}