#pedro_axelrud
  .image #{gravatar 'pedro'}
  .info
    %h4 Pedro Axelrud
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %p.links #{ twitter 'pedroaxl' } · #{link_to 'Flickr', '#'} · #{link_to 'Blog', '#'} · #{link_to 'Flavours', '#'}