#softa_mailee
  .wrapper
    %section
      #maileeme.work_showcase
        %section
          .work_showcase_info
            %h3
              #{link_to(image_tag('maileeme/maileeme_logo.png', :alt => 'Mailee.me - Email marketing 2.0'), 'http://mailee.me', :target => :_blank)}
            %p
              #{t('mailee.description')}
            %ul
              %li #{link_to t('mailee.twitter'), 'http://twitter.com/maileeme', :target => :_blank }
              %li #{link_to t('mailee.blog'), 'http://blog.mailee.me', :target => :_blank }
            %ul.showcase_more_images
              %li
                #{link_to image_tag('maileeme/maileeme_small_one.jpg'), image_path('maileeme/maileeme_one.jpg'), :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'}
              %li
                #{link_to image_tag('maileeme/maileeme_small_two.jpg'), image_path('maileeme/maileeme_two.jpg'), :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'}
              %li
                #{link_to image_tag('maileeme/maileeme_small_three.jpg'), image_path('maileeme/maileeme_three.jpg'), :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'}
            %h2
              #{link_to t('mailee.signup'), 'http://mailee.me/cadastro.html', :id => 'mailee_call_to_action', :target => :_blank}
          .work_showcase_image{:style => 'text-align: right;'}
            #{image_tag 'maileeme/maileeme_showcase.png', :title => 'Mailee.me - Email marketing 2.0', :alt => 'Mailee.me - Email marketing 2.0' }
          .clear
.clear
