#softa_mailee{:style => 'max-height:390px;'}
  .wrapper
    %section
      #maileeme.work_showcase
        %section
          .work_showcase_info
            %h3= link_to image_tag('maileeme/maileeme_logo.png', :alt => 'Mailee.me - Email marketing 2.0'), 'http://mailee.me'
            %p= t 'mailee.description'
            #{ link_to t('mailee.twitter'), 'http://twitter.com/maileeme', :target => :_blank }
            #{ link_to t('mailee.blog'), 'http://blog.mailee.me' }
            %ul.showcase_more_images
              %li= link_to image_tag('maileeme/maileeme_small_one.jpg'), image_path('maileeme/maileeme_one.jpg'), :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'
              %li= link_to image_tag('maileeme/maileeme_small_two.jpg'), image_path('maileeme/maileeme_two.jpg'), :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'
              %li= link_to image_tag('maileeme/maileeme_small_three.jpg'), image_path('maileeme/maileeme_three.jpg'), :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'
          .work_showcase_image{:style => 'text-align: right;'}= image_tag 'maileeme/maileeme_showcase.png'
          .clear
.mailee_signup_bar
  .wrapper
    %h2{:style => 'z-index:60;'} #{ link_to t('mailee.signup'), 'http://mailee.me/cadastro.html' }
.clear
