#social
  .wrapper
    #twitter
      %section
        %h2 Twitter
        #softa_twitter_rss
    #blog
      %section
        %h2 Blog
        #softa_blog_rss
    #calendar
      %section
        %h2 Agenda
        #softa_calendar_rss
          %ul
            - @events.each do |event|
              %li
                %h3.what= event.title
                %h4.where= event.where
                %time.when{ :datetime => event.when }= event.when
                .clear
                %p= event.desc
        %hr
        %p Quer nos chamar para palestras, cursos ou eventos?
        .event_contact
          %p #{mail_to 'contato@softa.com.br',  image_tag('calendar.png') + ' entre em contato »' }
    .clear
