#softa_staff
  .wrapper
    %section
      %h1 Softa Staff
      #daniel_weinmann
        .image
          #{image_tag 'staff/person.png'}
        .info
          %h4 Daniel Weinmann #{ twitter 'danielweinmann' }
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %p.links #{link_to 'link', '#'}
      #diogo_biazus
        .image
          #{image_tag 'staff/person.png'}
        .info
          %h4 Diogo Biazus #{ twitter 'dbiazus' }
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %p.links #{link_to 'link', '#'}
      #felipe_cabral
        .image
          #{image_tag 'staff/person.png'}
        .info
          %h4 Felipe Cabral #{ twitter 'felipebcabral' }
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %p.links #{link_to 'link', '#'}
      #juan_maiz
        .image
          #{image_tag 'staff/person.png'}
        .info
          %h4 Juan Maiz #{ twitter 'joaomilho' }
          %p Desenvolvedor Rails e JavaScript. Comemora efusivamente quando realiza entregas com zero bugs.
          %p.links #{link_to 'Posterous', 'http://maiz.posterous.com', :target => :_blank }
      #leonardo_tartari
        .image
          #{image_tag 'staff/person.png'}
        .info
          %h4 Léo Tartari #{ twitter 'leotartari' }
          %p Artista do design, tipografia, UI e UX. Extremista em detalhes, não perdoa erros de 1px.
          %p.links #{link_to 'Flickr', '#'} · #{link_to 'Skoob', '#'} · #{link_to 'Tumblr', '#'}
      #pedro_axelrud
        .image
          #{image_tag 'staff/person.png'}
        .info
          %h4 Pedro Axelrud #{ twitter 'pedroaxl' }
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          %p.links #{link_to 'Flickr', '#'} · #{link_to 'Blog', '#'} · #{link_to 'Flavours', '#'}
      .clear
