#softa_works
  .wrapper
    -# .arrow_left
    -# .arrow_right
    %section
      //%h1 Trabalhos
      #maileeme.work_showcase
        %section
          .work_showcase_info
            %h3= link_to image_tag('work/maileeme/maileeme_logo.png', :alt => 'Mailee.me - Email marketing 2.0'), 'http://mailee.me'
            %p Email marketing com criador de templates, geolocalização e integração com redes sociais.
            %ul.mailee_links
              %li Acesse o site » #{link_to 'mailee.me', 'http://mailee.me'}
              %li Acompanhe no Twitter » #{twitter 'maileeme'}
              %li Confira o Blog » #{link_to 'blog.mailee.me', 'http://blog.mailee.me'}
            %ul.showcase_more_images
              %li= link_to image_tag('work/maileeme/maileeme_small_one.jpg'), '/images/work/maileeme/maileeme_one.jpg', :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'
              %li= link_to image_tag('work/maileeme/maileeme_small_two.jpg'), '/images/work/maileeme/maileeme_two.jpg', :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'
              %li= link_to image_tag('work/maileeme/maileeme_small_three.jpg'), '/images/work/maileeme/maileeme_three.jpg', :rel => 'shadowbox[Mailee.me - Email marketing 2.0]'
          .work_showcase_image= image_tag 'work/maileeme/maileeme_showcase.png'
          .clear
.clear
