.wrapper
  #softa_logo= link_to image_tag('softa.png'), root_path
  %nav
    = link_to '#softa_works' do
      %strong Trabalhos
      %span Veja alguns dos projetos que foram desenvolvidos pela Softa
    = link_to '#softa_methodology' do
      %strong Metodologia
      %span Saiba como trabalhamos e por que escolhemos essa forma para trabalhar
    = link_to '#softa_labs' do
      %strong Softa Labs
      %span Uma seleção de experimentos com tecnologias emergentes
    = link_to '#contact_us' do
      %strong Contato
      %span Mande sua mensagem, reclamação, dica, sugestão
  .clear
