.top_bar
.wrapper
  %nav
    #{link_to 'Mailee.me', '#softa_mailee'}<span>·</span>
    #{link_to t('nav.method'), '#softa_method'}<span>·</span>
    #{link_to 'Softa Labs', '#softa_labs'}<span>·</span>
    #{link_to t('nav.staff'), '#softa_staff'}<span>·</span>
    #{link_to t('nav.social'), '#social'}<span>·</span>
    #{link_to t('nav.contact'), '#contact_us'}
    .right #{link_to(image_tag('flags/br.png'), '/pt', :title => 'Português')} #{link_to(image_tag('flags/es.png'), '/es', :title => 'Español')} #{link_to(image_tag('flags/fr.png'), '/fr', :title => 'Français')} #{link_to(image_tag('flags/us.png'), '/en', :title => 'English')}
  .clear