.top_bar
.wrapper
  %nav
    = link_to 'Mailee.me', '#softa_mailee'
    = link_to 'Metodologia', '#softa_methodology'
    = link_to 'Softa Labs', '#softa_labs'
    = link_to 'Quem somos', '#softa_staff'
    = link_to 'Twitter, Blog & Agenda', '#social'
    = link_to 'Contato', '#contact_us'
    .right #{link_to(image_tag('flags/br.png'), '/br', :title => 'Português')} #{link_to(image_tag('flags/es.png'), '/es', :title => 'Español')} #{link_to(image_tag('flags/fr.png'), '/fr', :title => 'Français')} #{link_to(image_tag('flags/us.png'), '/en', :title => 'English')}
  .clear