.top_bar
.wrapper
  %ul.top_navigation_fixed
    %li= link_to image_tag('softa_icon.png'), '/'
    %li= link_to 'Mailee.me', '#softa_mailee'
    %li= link_to 'Metodologia', '#softa_methodology'
    %li= link_to 'Softa Labs', '#softa_labs'
    %li= link_to 'Quem somos', '#softa_staff'
    %li= link_to 'Twitter, Blog & Agenda', '#social'
    %li= link_to 'Contato', '#contact_us'
    %li.right #{link_to(image_tag('flags/br.png'), '/br', :title => 'Português')} #{link_to(image_tag('flags/es.png'), '/es', :title => 'Español')} #{link_to(image_tag('flags/fr.png'), '/fr', :title => 'Français')} #{link_to(image_tag('flags/us.png'), '/en', :title => 'English')}
  .clear