.wrapper
  %ul.top_navigation_fixed
    %li= link_to image_tag('softa_icon.png'), '/'
    %li= link_to 'Trabalhos', '#softa_works'
    %li= link_to 'Metodologia', '#softa_methodology'
    %li= link_to 'Softa Labs', '#softa_labs'
    %li= link_to 'Contato', '#contact_us'
    %li= link_to 'Voltar ao topo', '#top', :class => 'to_up'
