!!!5
= render 'layouts/softa'
%html{ :lang => t('lang')}
  %head
    %meta{ :charset => 'UTF-8' }
    /[if IE]
      %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge;chrome=1' }
    %title= t 'head.title'
    %meta{ :name => :robots, :content => 'index, follow' }
    %meta{ :name => :description, :content => t('head.description') }
    %meta{ :name => :author, :content => 'Softa' }
    %link{ :rel => 'alternate', :href => 'http://blog.softa.com.br/rss.xml', :type => 'application/rss+xml', :title => 'RSS' }
    %meta{ :name => :keywords, :content => t('head.keywords') }
    = stylesheet_link_tag 'screen.css', 'shadowbox.css', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      = javascript_include_tag 'selectivizr/selectivizr'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js',  'juitter/jquery.juitter', 'juitter/system', 'http://html5shim.googlecode.com/svn/trunk/html5.js', 'scrollTo', 'shadowbox/shadowbox', 'jquery.lazyload.mini'
    = csrf_meta_tag
    = render 'layouts/kissmetrics'
    :javascript
      Shadowbox.init({ overlayOpacity: 0.8, animate: false });
    %link{ :rel => 'apple-touch-icon-precomposed', :href => 'apple-touch-icon.png'}
    %link{ :rel => 'shortcut icon', :href => 'favicon.ico' }
  %body
    #top
    #back_to_top #{link_to image_tag('to_top.png', :size => '48x48'), '#top' }
    %header= render 'layouts/navigation'
    #content= yield
    .clear
    %footer= render 'layouts/footer'
    .post_footer
      #colophon
        %p 2011 ·#{image_tag('colophon.png', :size => '84x32')}· #{t('colophon.age')}
    = javascript_include_tag 'softa'
    = render 'layouts/google_analytics'
