!!!5
= render 'layouts/softa'
%html{ :lang => 'pt-br'}
  %head
    %meta{ :charset => 'UTF-8' }
    /[if IE]
      %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge;chrome=1' }
    %title Softa · Aplicações web 2.0 em Rails e PostgreSQL
    %meta{ :name => 'robots', :content => 'index, follow' }
    %meta{ :name => 'description', :content => 'Aplicações web 2.0. O melhor do open source: Ruby on Rails e PostgreSQL. Nós utilizamos as melhores tecnologias aliadas aos métodos certos para desenvolver seus projetos no menor tempo e com a maior qualidade.' }
    %meta{ :name => 'author', :content => 'Softa' }
    %meta{ :name => 'keywords', :content => 'web 2.0, web2, ruby on rails, ruby, rails, postgres, postgresql, métodos ágeis, agile programming, extreme programming, xp, ajax, javascript, aplicações web 2.0, sistemas web, desenvolvimento, diogo biazus, daniel weinmann, juan maiz, pedro axelrud, felipe cabral, léo tartari, design, softa, programação, arquitetura de informação, usabilidade, web2.0, ui, ux' }
    %meta{ :name => 'viewport', :content=> 'width=device-width; initial-scale=1.0; maximum-scale=1.0;' }
    = stylesheet_link_tag 'screen.css', 'shadowbox.css', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      = javascript_include_tag 'selectivizr/selectivizr'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js',  'juitter/jquery.juitter', 'juitter/system', 'zrssfeed/jquery.zrssfeed.min', 'http://html5shim.googlecode.com/svn/trunk/html5.js', 'scrollTo', 'shadowbox/shadowbox'
    = csrf_meta_tag
    :javascript 
      Shadowbox.init({
        overlayOpacity: 0.8,
        animate: false
      });
      $(function(){
        $('#softa_blog_rss').rssfeed('http://blog.softa.com.br/rss.xml', {
          limit:    5,
          header:   false,
          titletag: 'h3',
          date:     false,
          errormsg: 'Ooops. Ocorreu um erro ao tentar carregar o <a href="http://blog.softa.com.br/" target="_blank">blog.softa.com.br</a>.<br>Tente mais tarde novamente.'
        });
      });
    %link{ :rel => 'apple-touch-icon-precomposed', :href => 'apple-touch-icon.png'}
    %link{ :rel => 'shortcut icon', :href => 'favicon.ico' }
  %body
    -#= link_to 'Voltar ao topo', '#top', :class => 'to_up'
    .fixed_navigation= render 'layouts/top_navigation_fixed'
    %header#top= render 'layouts/header'
    #content= yield
    .clear
    %footer= render 'layouts/footer'
    .post_footer
      #colophon
        %p #{image_tag 'softa_footer.png'} · 2010 · 5 anos
    = javascript_include_tag 'softa'
    = render 'layouts/google_analytics'
